@charset "UTF-8";
@font-face {
  font-family: "flaticon_ridda";
  src: url("./flaticon_ridda.woff2?330fcd52a61cb9bfb3604ed10546984f") format("woff2"), url("./flaticon_ridda.woff?330fcd52a61cb9bfb3604ed10546984f") format("woff"), url("./flaticon_ridda.eot?330fcd52a61cb9bfb3604ed10546984f#iefix") format("embedded-opentype"), url("./flaticon_ridda.ttf?330fcd52a61cb9bfb3604ed10546984f") format("truetype"), url("./flaticon_ridda.svg?330fcd52a61cb9bfb3604ed10546984f#flaticon_ridda") format("svg"); }

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon_ridda !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.flaticon-twitter:before {
  content: ""; }

.flaticon-social-media-marketing:before {
  content: ""; }

.flaticon-creative:before {
  content: ""; }

.flaticon-communities:before {
  content: ""; }

.flaticon-promotion:before {
  content: ""; }

.flaticon-quotation-mark:before {
  content: ""; }

.flaticon-trophy:before {
  content: ""; }

.flaticon-megaphone:before {
  content: ""; }

.flaticon-search:before {
  content: ""; }

.flaticon-target:before {
  content: ""; }

.flaticon-performance:before {
  content: ""; }

.flaticon-seo:before {
  content: ""; }

.flaticon-keywords:before {
  content: ""; }

.flaticon-search-engine:before {
  content: ""; }

.flaticon-link-building:before {
  content: ""; }

.flaticon-www:before {
  content: ""; }

.flaticon-world-map:before {
  content: ""; }

.flaticon-email:before {
  content: ""; }

.flaticon-call:before {
  content: ""; }

.flaticon-asterisk:before {
  content: ""; }

.flaticon-film-camera:before {
  content: ""; }

.flaticon-video-marketing:before {
  content: ""; }

.flaticon-animate:before {
  content: ""; }

.flaticon-live-streaming:before {
  content: ""; }

.flaticon-curve:before {
  content: ""; }

.flaticon-leadership:before {
  content: ""; }

.flaticon-satisfaction:before {
  content: ""; }

.flaticon-networking:before {
  content: ""; }

.flaticon-job-seeker:before {
  content: ""; }

.flaticon-job-search:before {
  content: ""; }

.flaticon-customer-service:before {
  content: ""; }

.flaticon-setting:before {
  content: ""; }

.flaticon-timing:before {
  content: ""; }

.flaticon-responsive:before {
  content: ""; }

.flaticon-online-shopping:before {
  content: ""; }

.flaticon-tool:before {
  content: ""; }

.flaticon-solution:before {
  content: ""; }

.flaticon-customer-support:before {
  content: ""; }

.flaticon-mail-box:before {
  content: ""; }
